.get-tracked-goals {
  margin-bottom: 1rem;
}

.get-tracked-goals select, .add-tracked-goal-form-container  select {
  display: block;
  margin-bottom: 10px;
  height: 1.5rem;
  width: 10%;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
}

.btn.btn-sm {
  padding: 5px 10px;
}

.add-tracked-goal-form-container label {
  display: block;
}

.tracked-goals-container {
  margin-top: 1rem;
}

.tracked-goal-contianer{
  margin-bottom: 1rem;
}
