.get-tracked-goals {
  margin-bottom: 1rem;
}

.add-tracked-goal-form-container select {
  display: block;
  margin-bottom: 10px;
  height: 1.5rem;
  width: 150px;
}

.get-tracked-goals select {
  display: block;
  margin-bottom: 10px;
  width: 150px;
  height: 2rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
}

.btn.btn-sm {
  padding: 5px 10px;
}

.add-tracked-goal-form-container label {
  display: block;
}

.tracked-goals-container {
  margin-top: 1rem;
}

.tracked-goal-contianer{
  border: 1px solid goldenrod;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 1rem;
}

.goal-name {
  font-size: larger;
  padding: 2px;
  margin-bottom: 5px;
}

.add-notes-icon {
  position: relative;
  top: -2px;
  margin-left: 5px;
}

.goal-notes {
  font-size: small;
}

form.tracked-goal-form input, form.tracked-goal-form select {
  height: 2rem;
  margin-left: 5px;
  padding: 5px;
}

form.tracked-goal-form input[type='text'] {
  width: 50%;
}
